<!DOCTYPE html>
<html>
  <head>
    <title>Randy Humphries</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Allura&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <div class="container-fluid">
        <%# <a class="navbar-brand" href="#"> %>
        <%= link_to image_tag('randy.png'), root_path, class:'logo navbar-brand' %>
        <%# </a> %>
        <%# <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> %>
        <div class='text-white'>IN PROGRESS</div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <%# <ul class="navbar-nav me-auto"> %>
              <div class="nav-item active">
                <%= link_to 'About', about_path, class: 'nav-links' %>
              </div>
              <div class="nav-item">
                <%= link_to 'Contact', contact_path, class: 'nav-links' %>
              </div>
              <%# <li class="nav-item dropdown"> %>
                <%# <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" /> %>
                <%# <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" data-turbo-method="delete" href="#">Log out</a>
                </div> %>
              <%# </li> %>
              <!--li class="nav-item"-->
              <!--/li-->
          <%# </ul> %>
        </div>
      </div>
    </div>
    <%= yield %>
    <script src='app.js'></script>
  </body>
</html>
